.array-box {
  display: flex;
  /* left: 50px; */
  /* padding: 10px; */
  /* margin-bottom: ; */
  margin-right: auto;
  margin-left: auto;
  /* position: fixed; */
  top: 7.2rem;
  /* justify-items: center; */
}

.array-bar {
  width: 1.3rem;
  font-size: 0.7rem;
  font-weight: bold;
  background-color: red;
  display: flex;
  margin: 0 1.5px;
}
/* rgb(21, 255, 0)
================================================
Navigation Bar Style 
================================================ 
*/
.select-algo {
  color: aliceblue;
  background-color: aliceblue;
  padding-left: 10px;
  padding-right: 5px;
  right: 30px;
  width: 10%;
  position: absolute;
}

nav {
  display: flex;
  align-items: center;
  background-color: rgb(61, 16, 2);
  position: fixed; /*absolute*/
  top: 0;
  right: 0;
  left: 0;
}

.nav-toggle {
  margin: 1rem;
  font-size: 1.4rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}

.logo {
  height: 40px;
}
.btn-container {
  position: absolute;
  right: 0;
}

.btn {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  color: white;
  font-size: 1.2rem;
}

.icon {
  font-size: 2rem;
  padding: 10px;
}

.btn :hover {
  cursor: pointer;
  background-color: #4287f5;
}

/* 
====================================
Array Handler
==================================== */
/* .arr-handle {
  position: absolute;
} */

.array-btns {
  /* position: absolute; */
  /* top: 0; */
  width: 75%;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: rgb(61, 16, 2); */
  justify-content: space-between;
}
.pp {
  width: 40%;
}
.slider-container {
  /* width: 100px; */
  /* display: flex; */
  /* font-size: 1.3rem; */
  /* margin-left: 100px; */
  /* margin-right: auto; */
  left: 50px;
  width: 100px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
span {
  /* color: #4287f5; */
  /* width: 30%; */
  /* font-size: 18px; */
  /* font-weight: 100; */
}
/* .slider { */
/* margin-left: 20px; */
/* width: 0px !important; */
/* height: 8; */
/* } */
form {
  margin: auto;
}
.size-inp {
  width: 2rem;
}
.pp {
  align-items: center;
}
