.array-box {
    display: block;
    left: 20px;
    right: 20px;
    /* justify-items: center; */
  }
  
  .array-bar {
    width: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: rgb(21, 255, 0);
    display: inline-block;
    margin: 0 1.5px;
  }
  /* 
  ================================================
  Navigation Bar Style 
  ================================================ 
  */
  
  nav {
    background: #426b3d;
    box-shadow: var(--light-shadow);
    align-items: center;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    /* height: 6.2vw; */
  }
  .nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-primary-5);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
  }
  .nav-toggle:hover {
    color: var(--clr-primary-1);
    transform: rotate(90deg);
  }
  .logo {
    height: 40px;
  }
  /* .btn-container {
    overflow: hidden;
    transition: var(--transition);
  } */
  
  ul {
    display: flex;
    list-style: none;
  }
  ul li {
    color: white;
    font-size: 1.1rem;
    margin: auto;
  }
  
  ul li button,
  .btn {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    color: white;
    font-size: 1.1rem;
  }
  
  .btn :hover {
    cursor: pointer;
    background-color: #4287f5;
  }
  
  /* 
  ====================================
  Array Handler
  ==================================== */
  .array-btns {
    position: relative;
  }
  .size-inp {
    width: 2rem;
  }
  